        
footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 90%;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    

     @include respond-to('tablet') {
        flex-direction: row;
        
        
    }

   
}

.foot {
    display: flex;
    margin: 55px 20px;
    flex: 1 1 100%;
    align-content: center;
    

@include respond-to('tablet') {
flex: 1 1 33,33%;
align-items: center;
justify-content: space-around;
 
}

}

