//Intialize flex-card



.container {
  @extend %container-default;
  
}

.flex-item {
  @extend %items;

@include respond-to('medium'){
  flex-basis: 200px;
  @include flex-nth;
  }}



 .flex-body {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;

}

 a {
 @include color (#fff) ;
}



