/* hamburgareikon*/
@mixin fa-icons {
      padding: 0.1em 0.8em;
      color: $font-c;
  }

.fa-times, .fa-bars {
    @include fa-icons; 
  }

  #nav-toggle {
 display: none; 
}

label > .fa-times {
    display: none;
  }


#nav-toggle,
.fa-times {
  display: none;
}

#nav-toggle:checked ~ .flex-nav {
 display: block;
}

#nav-toggle:checked ~ header .fa-bars {
 display: none;
}

#nav-toggle:checked ~ header .fa-times {
  display: block;
}

/*nav*/




 


 