
.landingpage {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  
  
}

.landingpage a {
    text-decoration: none; 
    color: white;
    font-weight: bold;
    text-align: center;
}


